body {
    font-family: "Trebuchet MS", sans-serif;
    background-color: black;
    color: white;
    font-size: 16px;
}

.title-large {
    font-size: 48px;
    margin-bottom: 18px;
}

.title-medium {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 12px;
}

.title-small {
    font-size: 20px;
    margin-bottom: 6px;
    color: #ffab00;
}

.text-lead {
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
}

.text-medium {
    font-size: 14px;    
    line-height: 24px;
    color: white;
}

.text-small{
    font-size: 12px;
    font-style: italic;
    line-height: 100%;
    padding-bottom: 10px;
}

.text-center {
    padding-bottom: 20px;
    text-align: center;
}

.text-quote {
    font-style: italic;
}

.text-author {
    text-align: right;
}

.text-blue {
    color: #0198e1
}